h1 {
    color: blue;
}
  
  #gomb:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
  }
  
  #gomb:disabled,
  #gomb[disabled]{
    background-color: #666666;
    border-color: none;
  }
  form {
    width: 500px;
  }
  #myinput {
    width: 100%;
  }
  #emailid{
    color: red;
  }
  #jelszoid{
    color: red;
  }